p {
  text-align: justify;
}

h1 {
  font-size: 24px; /* 修改标题h1的字号 */
}

h2 {
  font-size: 20px; /* 修改标题h1的字号 */
}

h3 {
  font-size: 18px; /* 修改标题h1的字号 */
}

p {
  font-size: 16px; /* 修改正文的字号 */
}
.btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  cursor: pointer;
}

